<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:each="user : ${applicationuser}">
    <h1>User Information</h1>
    <h2 th:text="'welcome' + ${username}"></h2>
    <img th:src="" alt="User's Picture">
        <ul>
            <li th:text="${user.firstname}">First Name</li>
            <li th:text="${user.lastname}">Last Name</li>
            <li th:text="${user.dateofbirth}">Date of Birth</li>
            <li th:text="${user.bio}">Bio</li>
        </ul>
    </div>

    <label for="post">Post Here</label>
    <input id="post" type="text" name="post">
    <input type="submit" value="post">

    <a href="/logout">logout</a>
</body>
</html>