<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header >
    <div th:replace="./fragments/nav :: nav-bar"></div>
</header>

    <div th:each="user : ${ApplicationUser}">
    <h1>User Information: Admin page only</h1>
    <img th:src="" alt="User's Picture">
        <ul>
            <li th:text="${user.firstName}">First Name</li>
            <li th:text="${user.lastName}">Last Name</li>
            <li th:text="${user.dateOfBirth}">Date of Birth</li>
            <li th:text="${user.bio}">Bio</li>
        </ul>
    </div>

</body>
</html>