<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Users</h1>
    <h2 th:text="'welcome' + ${user}"></h2>
    <a href="/logout">logout</a>

    <form action="/login" method="post">
        <label for="username">username</label>
        <input id="username" type="text" name="username">

        <label for="password">username</label>
        <input id="password" type="text" name="password">

        <label for="firstname">username</label>
        <input id="firstname" type="text" name="firstname">

        <label for="lastname">username</label>
        <input id="lastname" type="text" name="lastname">

        <label for="dateofbirth">username</label>
        <input id="dateofbirth" type="text" name="dateofbirth">

        <label for="bio">username</label>
        <input id="bio" type="text" name="bio">

        <input type="submit" value="signup">
</body>
</html>