<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:uth="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header >
    <div th:replace="./fragments/nav :: nav-bar"></div>
</header>

    <h1>Users</h1>
    <a href="/logout">logout</a>
    <h2 th:if="${username}" th:text="'welcome' + ${username}"></h2>
<!--    <h2 uth:utext="${user}"></h2>-->

    <form action="/signup" method="post">
        <label for="username">username</label>
        <input id="username" type="text" name="username">

        <label for="password">password</label>
        <input id="password" type="text" name="password">

        <label for="firstName">first name</label>
        <input id="firstName" type="text" name="firstName">

        <label for="lastName">last name</label>
        <input id="lastName" type="text" name="lastName">

        <label for="dateOfBirth">date of birth</label>
        <input id="dateOfBirth" type="text" name="dateOfBirth">

        <input type="submit" value="signup">
    </form>
</body>
</html>