<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">username</label>
        <input id="username" type="text" name="username">

        <label for="password">username</label>
        <input id="password" type="text" name="password">

        <label for="firstname">username</label>
        <input id="firstname" type="text" name="firstname">

        <label for="lastname">username</label>
        <input id="lastname" type="text" name="lastname">

        <label for="dateofbirth">username</label>
        <input id="dateofbirth" type="text" name="dateofbirth">

        <label for="bio">username</label>
        <input id="bio" type="text" name="bio">

        <input type="submit" value="login">

    </form>

</body>
</html>