<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <li><a href="/index">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
    </header>

    <h1>Welcome to the site!</h1>
    <h2>Please sign up or login by clicking the links above.</h2>
    <p>This site is a social media site where you can sign up, sign in,
        <br /> make your own profile, make posts, and follow other profiles.</p>
</body>
</html>