<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header >
    <div th:replace="./fragments/nav :: nav-bar"></div>
    <h2 th:text="'welcome' + ${user}"></h2>
</header>

    <h1  th:text="${username}">Specific Name : Lucy</h1>

    <div th:each="user : ${ApplicationUser}">
        <h1>User Information</h1>
        <h2 th:text="'welcome' + ${user.username}"></h2>
        <img th:src="" alt="User's Picture">
        <ul>
            <li th:text="${user.firstName}">First Name</li>
            <li th:text="${user.lastName}">Last Name</li>
            <li th:text="${user.dateOfBirth}">Date of Birth</li>
        </ul>
    </div>


    <h2 th:if="${visitor}" th:text="${visitor.username}"> Welcome to my bio and posts</h2>

    <p th:text="${ApplicationUser.bio}"></p>

    <form th:unless="${visitor}" th:action="'/userprofile/'+${ApplicationUser.id}+'?_method=put'" method="post">
        <input type="textarea" default="${ApplicationUser.bio}" name="bio">
        <input type="submit" value="edit bio">
    </form>


    <p th:text="${ApplicationUser.body}"></p>
    <p th:text="${ApplicationUser.createAt}"></p>
    <p th:text="${ApplicationUser.firstName}"></p>
    <p th:text="${ApplicationUser.lastName}"></p>
    <p th:text="${ApplicationUser.url}"></p>

    <form th:unless="${visitor}" th:action="'/userprofile/'+${ApplicationUser.id}+'?_method=put'" method="post">
        <label for="post">Post Here</label>
        <input id="post" type="text" default="'${ApplicationUser.body}' + ' ' + ${ApplicationUser.createAt}
        + ' ' + '${ApplicationUser.firstName}' + ' ' + '${ApplicationUser.lastName}'
         + ' ' + '${ApplicationUser.url}'"  name="posthere">
        <input type="submit" value="post">
    </form>

    <form action="/following" method="post">
        <fieldset>
            <legend>Add Follower</legend>
            <label for="firstName">
                First Name
                <input id="firstName" type="text" name="firstName">
            </label>

            <label for="lastName">

                <input id="lastName" type="text" name="lastName">
            </label>
            <input type="submit" value="add follow">
        </fieldset>
    </form>

    <form action="/followersFeed" method="post">
        <fieldset>
            <legend>Follow</legend>
            <select name="giverId">
                <option th:each="followers : ${applicationUser}"
                        th:text="${followers.firstName}"
                        th:value="${followers.id}"></option>

                <option th:each="followers : ${applicationUser}"
                        th:text="${followers.lastName}"
                        th:value="${followers.id}"></option>

                <option th:each="followers : ${applicationUser}"
                        th:text="${followers.url}"
                        th:value="${followers.id}"></option>
            </select>

            <select name="receiverId">
                <option th:each="followers : ${applicationUser}"
                        th:text="${followers.firstName}"
                        th:value="${followers.id}"></option>

                <option th:each="followers : ${applicationUser}"
                        th:text="${followers.lastName}"
                        th:value="${followers.id}"></option>

                <option th:each="followers : ${applicationUser}"
                        th:text="${followers.url}"
                        th:value="${followers.id}"></option>
            </select>
            <input type="submit" value="follow">
        </fieldset>
    </form>

    <ul>
        <li th:each="followers : ${applicationUser}">
            <h3 th:text="'${followers.firstName}' + ' ' + '${followers.lastName}' + ' ' + '${followers.url}'"> Hermione Olivia</h3>
            <h4>I am a follower of</h4>
            <ul>
                <l th:each="giver : ${followers.usersFollowReceived}"
                   th:text="'${followers.firstName}' + ' ' + '${followers.lastName}' + ' ' + '${followers.url}'"> Lucy Goosey</l>
            </ul>
        </li>
    </ul>

</body>
</html>